<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.gatech.jjmae.u_dirty_rat">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".controller.WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".controller.RegistrationPageActivity" />
        <activity
            android:name=".controller.ExistingUserLoginActivity"
            android:label="@string/title_activity_existing_user_login"
            android:parentActivityName=".controller.WelcomeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.gatech.jjmae.u_dirty_rat.controller.WelcomeActivity" />
        </activity>
        <activity
            android:name=".controller.HomeActivity"
            android:label="@string/title_activity_home"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".controller.NewRatSightingActivity"
            android:label="@string/title_activity_new_rat_sighting"
            android:name=".CreateNewRatSighting"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".controller.RatSightingsListActivity"
            android:label="@string/title_activity_detail_rat_sighting"
            android:name=".RatSightingsList"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".controller.RatSightingViewDetailActivity"></activity>
    </application>

</manifest>